<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="primary" fill="solid" mode="md" (click)="reset()">
                Reset
            </ion-button>
        </ion-buttons>
        <ion-title>
            No Shitting Score
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-grid-list cols="2" rowHeight="2:1" *ngIf="score$ | async as score">
        <mat-grid-tile (click)="add('player1')">Player 1</mat-grid-tile>
        <mat-grid-tile (click)="add('player2')">Player 2</mat-grid-tile>
        <mat-grid-tile>{{score.player1}}</mat-grid-tile>
        <mat-grid-tile>{{score.player2}}</mat-grid-tile>
    </mat-grid-list>
</ion-content>
